/* VARIABLES */
$font-text: 'Open Sans', sans-serif;
$font-head: 'Maven Pro', sans-serif;

/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;   
}

body {
  margin: 0;
  font-family: $font-text;
  color: #fff;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1350px;
}

.row {
  display: flex;
}
/* NAVIGATION */
header{
  height: 100vh;
  background: url(../images/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

nav .row {
  align-items: center;
}

  h4 {

  }
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;

  li {
    display: inline-block;
    margin-right: 30px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      text-shadow: 0 0 1px #fff;
    }
    a:hover {
      font-style: italic;
      text-shadow: 0.5px 0.5px 20px #fff;
    }
  }
}
.splash {
  text-align: center;
  h1 {
    font-family: $font-head;
    font-size: 70px;
    font-weight: none;
    span {
      font-weight: 700;
    }
  }
}
.logo {
  flex: 1;
  text-align: right;
  font-size: 25px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 30px;
}

.menu {
  flex: 5;
}
/* MEDIA */

  /* Extra small devices (phones) */
  @media only screen and (max-width: 576px) {
    
  }

  /* Small devices (phone horizontally) */
  @media only screen and (min-width: 576px) {

  }

  /* Medium devices (Tablets) */
  @media only screen and (min-width: 768px) {

  }

  /* Large devices */
  @media only screen and (min-width: 992px) {

  }

  /* Extra large devices (Deskopt) */
  @media only screen and (min-width: 1200px) {

  }

